@import "tailwindcss";

:root {
  --bg: #111111;
  --bg-2: #1B1B1B;
  --gradient-color-from: #D7E39A;
  --gradient-color-to: #F7DF75;
  --primary: #DFE190;
  --secondary: #222222;
  --tertiary: #333333;
}

@theme inline {
  --color-bg: var(--bg);
  --color-bg-2: var(--bg-2);
  --color-gradient-from: var(--gradient-color-from);
  --color-gradient-to: var(--gradient-color-to);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--bg);
  color: var(--primary);
  font-family: var(--font-sans);
  font-weight: 400;
}